---
import Layout from '../layouts/Layout.astro';
import Markdown from '../components/Markdown.astro';
---

<Layout title="Welcome to QIJA.">
    <h1>This app has been discontinued and is no longer available.It does not collect or process any user data.</h1>
</Layout>
